**/.settings/org.eclipse.buildship.core.prefs
*.swp
*~
.DS_Store
.project
/*/.classpath
/*/bin/
/.gradle/
/.vscode/settings.json
build/
.idea/misc.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
out
com.ibm.wala.core/out/*
com.ibm.wala.core/launchers/*
**/*.iml
target/**
targets/**
com.ibm.wala.cast.java.test.data/target/**
com.ibm.wala.core/resources/test/JLex/**
com.ibm.wala.core/resources/test/META-INF/**
com.ibm.wala.ide_feature/target/**
